﻿@model MindfireSolutions.ViewModels.UserRegistration
@using MindfireSolutions.ViewModels
@{
    ViewBag.Title = "Register";
}
@if (ViewBag.status != null && Convert.ToBoolean(ViewBag.status))
{
    if (ViewBag.successMessage != null)
    {
        <div class="alert alert-success">
            <strong>Success ! </strong>@ViewBag.successMessage
        </div>
    }
}
else
{
    using (Html.BeginForm("Register", "Registration", FormMethod.Post, new { @class = "registration", role = "form", enctype = "multipart/form-data", id = "RegistrationForm" }))
    {
        @*<div class="tab-group">
                <span class="btn btn-outline-primary tag-signup"><a href="/Registration/Register">Sign Up</a></span>
                <span class="btn btn-outline-primary tag-login"><a href="/Login/UserLogin">Log In</a></span>
            </div>*@
        @Html.Partial("~/Views/Shared/UserLoginSignup.cshtml")
        @Html.AntiForgeryToken()
        <h3 class="form-heading">Registration Form</h3>
        <div class="note-message">
            <span class="span-text-danger">Note:Fields marked with * are mandatory.</span>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter Your First Name.", autocomplete = "off", id = "ContactInput" })
                    </div>
                    <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.FirstName)</span>
                    <span class="col-md-12 error" id="ErrorFirstName"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter Your Last Name", autocomplete = "off" })
                    </div>
                    <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.LastName)</span>
                    <span class="col-md-12 error" id="ErrorLastName"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.EmailId, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Enter Your Email", autocomplete = "off" })
                    </div>
                    <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.EmailId)</span>
                    <span class="col-md-12 error" id="ErrorEmailId">@ViewBag.invalidEmailMessage</span>
                    <span class="col-md-12"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Your Password", type = "password" })
                    </div>
                    <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.Password)</span>
                    <span class="col-md-12 error" id="ErrorPassword"></span>
                    <div>
                        <span class="col-md-12 span-error" id="ErrorPasswordLength">Minimum Length 8 Character</span>
                    </div>
                    <div>
                        <span class="col-md-12 span-error" id="ErrorPasswordUppercase">Atleast One Upper Case</span>
                    </div>
                    <div>
                        <span class="col-md-12 span-error" id="ErrorPasswordLowerCase">Atleast One Lower Case</span>
                    </div>
                    <div>
                        <span class="col-md-12 span-error" id="ErrorPasswordNumber">Atleast One Number</span>
                    </div>
                    <div>
                        <span class="col-md-12 span-error" id="ErrorPasswordSymbol">Atleast One Symbol</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-enter Your Password", type = "password" })
                    </div>
                    <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                    <span class="col-md-12 error" id="ErrorConfirmPassword"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Mobile, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "Enter Your Mobile Number", autocomplete = "off" })
                    </div>
                    <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.Mobile)</span>
                    <span class="col-md-12 error" id="ErrorMobile"></span>
                </div>
            </div>
        </div>

        <div class="row first-input">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.Label("Contacts", new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div id="CloneItem" class="space">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                            @Html.DropDownListFor(m => m.Contact, new SelectList(Enum.GetValues(typeof(Contact))))
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control contact-class", placeholder = "Enter Your Number" })
                    <span class="col-md-8 error" id="FirstErrorContactNumber"></span>
                    <div id="AppendItem" class="space">
                        <button type="button" id="AddContact" class="btn-primary btn-radious">Add</button>
                        <span class="col-md-8 error">@ViewBag.ContactError</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Your Address", autocomplete = "off" })
                    </div>
                    <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.Address)</span>
                    <span class="col-md-12 error" id="ErrorAddress"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.ImageUpload, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                        @Html.TextBoxFor(m => m.ImageUpload, new { @class = "form-control", type = "file" })
                    </div>
                    <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.ImageUpload)</span>
                    <span class="col-md-12 error" id="ErrorImageUpload"></span>
                </div>
            </div>
        </div>

        <div class="form-btn">
            <button type="submit" value="Submit" class="btn btn-outline-primary" id="Submit">Submit</button>
        </div>
    }
}
