﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="User Registration Form">
    <link rel="shortcut icon" type="image/png" href="~/Images/mindfiresolutions@gmail.compexels-photo-248797.jpeg" />
    <link rel="shortcut icon" type="image/png" href="~/Images/santanu@gmail.comdownload.png" />
    <meta name="keywords" content="User Registration Form,Registration Form">
    <meta name="author" content="Purnendu Pattanaik">
    @using System.Web.Optimization
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")
</head>

<body>
    <header class="container-fluid">
        <div class="header-one">
            <h1 class="header-font"><em><strong>User </strong>Registration</em></h1>
        </div>
    </header>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Login/UserLogout"> Logout</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Log in & Sign up", "Register", "Registration")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h5 class="container">
                &copy; Copyright
                <script>document.write(new Date().getFullYear());</script>
                all rights reserved
            </h5>
        </footer>
    </div>
</body>
</html>
