﻿<div class="tab-group">
    <span class="btn btn-outline-primary tag-signup"><a href="/Registration/Register">Sign Up</a></span>
    <span class="btn btn-outline-primary tag-login"><a href="/Login/UserLogin">Log In</a></span>
</div>
