/*Navigation bar starts here*/ 
.navbar-default
 {
     background-color: black;
     border-color:black
 }
 .navbar-default .navbar-brand,
 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus
 {
     color:white;
 }
 .navbar-default .navbar-nav>li>a{
     color:white;
 }
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
    background-color:red;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
    color:gray;
    background-color:red;
}
.navbar-default .navbar-text{
    color:white;
}
.navbar-brand .navbar-toggle{
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
{
    background-color:red;
}
/*Navigation bar ends here*/

/*Header start here*/
.main-heading{
    color:white;
}
header {
    color: white;
    height: 80%;
    background-image: linear-gradient(black,yellow);
    width: 100%;
    display: flex;
    padding: 1%;
}
.header-font{
    float: left;
}
/*Header start here*/

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: bold;
    background: black;
}

/* Form data*/
.registration {
    max-width: 47%;
    margin: auto;
    padding: 10px 20px;
    background-color: #232020;
    border-radius:10px;
}
.details-table
{
    max-width: 60%;
    margin: auto;
    padding: 10px 20px;
    background-color: #232020;
    border-radius:10px;
}
.login-div
{
    float:right;
}
.tag-login
{
    background-color:darkgray;
}
.tag-signup
{
    background-color:skyblue;
}
.span-error{
    width:100%;
}
.tag-login a
{
    color:black;
    font-weight:bolder;
}
.tag-signup a
{
    color:black;
    font-weight:bolder;
}
.tag-logout
{
    background-color:darkgray;
}
.tag-logout a
{
    color:black;
    font-weight:bolder;
}
.form-heading {
    text-align: center;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: #fff;
}
.glyphicon
{
    color:black;
    background-color:white;
}
.control-label {
    color:white;
}
.row{
    margin-bottom:2%;
}
.error
{
    color:red;
    width:100%;
}
.contact-class
{
    margin-left:12%;
}
.logout
{
    height:10%;
    width: 11%;
    background-color:black;
    color:white;
    font-size:1.5em;
}
.space {
    margin-top:2%;
}
#Contact{
    width:99%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn-radious
{
    border-radius: 4px;
}
.note-message{
    margin-bottom:5%;
}
.form-btn
{
    text-align:center;
}
.span-text-danger
{
    color:red;
}
.td-color a{
    color:white;
}
.th-color
{
    background-color:skyblue;
    padding:1.5%;
}
.data-color
{
    color:white;
}
.modal-title-color
{
    background-color:#333333;
    color:white;
}
.modal-label{
    color:black;
}
.content-popup
{
    background-color: #c09853;
}
.popup-close
{
    color:red;
    background-color:white;
}



@media only screen and (max-width: 700px) 
{
    .th-color
    {
        display:none;
    }
    .registration 
    {
        max-width: 100%;
    }
    .details-table
    {
        max-width: 100%;
    }
    .td-color
    {
        display:inline;
    }
}
