﻿
.user-details-span {
    color: #0bcbd6;
}

.user-image {
    margin-left: 30%;
    margin-right: 30%;
}

.card-header {
    text-align: center;
    color: white;
}

.card-title {
    color: #D6DBDF;
}
