﻿@model MindfireSolutions.ViewModels.ForgetPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
}
@if (ViewBag.status != null && Convert.ToBoolean(ViewBag.status))
{
    if (ViewBag.successMessage != null)
    {
        <div class="alert alert-success">
            <strong>@ViewBag.successMessage</strong>
        </div>
    }
    using (Html.BeginForm("GeneratePassword", "Login", FormMethod.Post, new { @class = "registration", role = "form", enctype = "multipart/form-data" }))
    {
        <h3 class="form-heading">Code</h3>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", placeholder = "Enter Your Code", autocomplete = "off", value = "" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-btn">
            <button type="submit" value="Submit" class="btn btn-outline-primary" id="Submit">Submit</button>
        </div>
    }
}
else
{
    using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "registration", role = "form", enctype = "multipart/form-data", id = "ForgotPasswordForm" }))
    {
        <h3 class="form-heading">Forgot Password</h3>
        <div class="note-message">
            <span class="span-text-danger">Note:Fields marked with * are mandatory.</span>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.EmailId, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Enter Your Email", autocomplete = "off" })
                    </div>
                    <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.EmailId)</span>
                    <span class="col-md-12 error" id="ErrorEmailId">@ViewBag.invalidEmailMessage</span>
                    <span class="col-md-12"></span>
                </div>
            </div>
        </div>
        <div class="form-btn">
            <button type="submit" value="Submit" class="btn btn-outline-primary" id="Submit">Submit</button>
        </div>
    }
}


