﻿@model MindfireSolutions.ViewModels.UserRegistration
@{
    ViewBag.Title = "GeneratePassword";
}

<h2></h2>

@using (Html.BeginForm("GeneretePassword", "Login", FormMethod.Post, new { @class = "registration", role = "form", enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <h3 class="form-heading">Change Password</h3>
    <div class="note-message">
        <span class="span-text-danger">Note:Fields marked with * are mandatory.</span>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Your Password", type = "password" })
                </div>
                <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.Password)</span>
                <span class="col-md-12 error" id="ErrorPassword"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-enter Your Password", type = "password" })
                </div>
                <span class="col-md-12 error">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                <span class="col-md-12 error" id="ErrorConfirmPassword"></span>
            </div>
        </div>
    </div>



    <div class="form-btn">
        <button type="submit" value="Submit" class="btn btn-outline-primary" id="Submit">Submit</button>
    </div>
}