﻿<div class="modal" id="EditPopUpModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content content-popup">
            <div class="modal-header">
                <button class="close popup-close" id="BtnModalHide" onclick="closeUserModal()">&times;</button>
                <h4 class="modal-title form-heading modal-title-color">Edit</h4>
            </div>
            <div class="modal-body" id="UserPopUpModal">
                <div>
                    <input type="hidden" id="IdPopUp" />
                </div>
                <div>
                    <label for="FirstNamePopUp" class="control-label modal-label">First Name</label>
                    <input type="text" id="FirstNamePopUp" class="form-control" />
                    <span class="col-md-12 error" id="ErrorEditFirstName"></span>
                </div>
                <div>
                    <label for="LastNamePopUp" class="control-label modal-label">Last Name</label>
                    <input type="text" id="LastNamePopUp" class="form-control" />
                    <span class="col-md-12 error" id="ErrorEditLastName"></span>
                </div>
                <div>
                    <label for="AddressPopUp" class="control-label modal-label">Address</label>
                    <input type="text" id="AddressPopUp" class="form-control" />
                </div>
            </div>
            <div class="modal-footer modal-title-color">
                <button class="btn btn-primary btn-sm" onclick="saveEditData()">Save</button>
                @*<div class="btn btn-primary btn-sm td-color">@Html.ActionLink("Save", "UserEdit", "Home", new { id = Model.Id }, null)</div>*@
            </div>
        </div>
    </div>
</div>